<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
</head>
    <body>
        <h1>Авторизация</h1>
        <form>
            <label for="username">Логин</label>:
            <input type="text" id="username"/> <br/>
            <label for="password">Пароль</label>:
            <input type="password" id="password"/> <br/>
            <input type="button" onclick="login()" value="Войти"/>
        </form>

        <script>

            function get_cookie ( cookie_name )
            {
                var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

                if ( results )
                    return ( unescape ( results[2] ) );
                else
                    return null;
            }


            function set_cookie ( name, value, exp_y, exp_m, exp_d, path, domain, secure )
            {
                var cookie_string = name + "=" + escape ( value );

                if ( exp_y )
                {
                    var expires = new Date ( exp_y, exp_m, exp_d );
                    cookie_string += "; expires=" + expires.toGMTString();
                }

                if ( path )
                    cookie_string += "; path=" + escape ( path );

                if ( domain )
                    cookie_string += "; domain=" + escape ( domain );

                if ( secure )
                    cookie_string += "; secure";

                document.cookie = cookie_string;
            }

            function delete_cookie ( cookie_name )
            {
                var cookie_date = new Date ( );  // Текущая дата и время
                cookie_date.setTime ( cookie_date.getTime() - 1 );
                document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
            }

            function onResponse() {
                if(this.status != 200) {
                    alert("Неверный логин или пароль");
                } else {
                    var jsonResponse = JSON.parse(this.responseText);
                    set_cookie("token", "Bearer_" + jsonResponse["token"], path="/");
                    document.location.href = "/products";
                }
            }

            function login() {
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;

                var xhr = new XMLHttpRequest();
                xhr.open('post', '/api/auth/login', true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.send(JSON.stringify({ "username":username, "password":password }));

                xhr.onload = onResponse;
            }
        </script>
    </body>
</html>