<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
    </head>
    <body>
        <input type="button" onclick="logout()" value="Выйти"/><br/><br/>
        <input type="button" onClick="toProducts()" value="Список товаров"/><br/><br/>
        <input type="button" onclick="toPurchased()" value="Купленное"/><br/><br/>

        <table id="products_list" style="width:50%">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
            </tr>
        </table>

        <script>
            function get_cookie ( cookie_name )
            {
                var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

                if ( results )
                    return ( unescape ( results[2] ) );
                else
                    return null;
            }

            function delete_cookie ( cookie_name )
            {
                var cookie_date = new Date ( );  // Текущая дата и время
                cookie_date.setTime ( cookie_date.getTime() - 1 );
                document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
            }

            function toProducts() {
                document.location.href = "/products";
            }

            function toPurchased() {
                document.location.href = "/purchased"
            }

            function logout() {
                delete_cookie("token");
                document.location.href = "/";
            }

            function onClickPurchaseBtn() {
                var id = this.name.toString();
                var xhr = new XMLHttpRequest();

                xhr.open('get', '/api/user/products/purchase?id=' + id, true);
                xhr.setRequestHeader('Authorization', get_cookie("token"));
                xhr.send();

                xhr.onload = function() {
                    if(xhr.status == 200)
                        location.reload();
                    else
                        alert(xhr.status);
                }
            }

            function onClickDeleteBtn() {
                var id = this.name.toString();
                var xhr = new XMLHttpRequest();

                xhr.open('get', '/api/user/products/delete?id=' + id, true);
                xhr.setRequestHeader('Authorization', get_cookie("token"));
                xhr.send();

                xhr.onload = function() {
                    if(xhr.status == 200)
                        location.reload();
                    else
                        alert(xhr.status);
                }
            }

            function loadProducts() {
                var xhr = new XMLHttpRequest();
                xhr.open('get', '/api/user/products', true);
                xhr.setRequestHeader('Authorization', get_cookie("token"));
                xhr.send();

                xhr.onload = function() {
                    if(xhr.status == 200) {
                        var jsonResponse = JSON.parse(this.responseText);

                        table = document.getElementById("products_list");
                        for(var idx in jsonResponse) {
                            var product = jsonResponse[idx];

                            var row = document.createElement("tr")
                            table.appendChild(row);

                            var nameColumn = document.createElement("td");
                            nameColumn.innerHTML = product["name"];

                            var descColumn = document.createElement("td");
                            descColumn.innerHTML = product["description"];

                            var priceColumn = document.createElement("td");
                            priceColumn.innerHTML = product["price"];

                            var purchaseBtn = document.createElement('input');
                            purchaseBtn.name = product["id"];
                            purchaseBtn.value = "Купить"
                            purchaseBtn.type = "button"
                            purchaseBtn.addEventListener('click', onClickPurchaseBtn);

                            var deleteBtn = document.createElement('input');
                            deleteBtn.name = product["id"];
                            deleteBtn.value = "Удалить"
                            deleteBtn.type = "button"
                            deleteBtn.addEventListener('click', onClickDeleteBtn);

                            row.appendChild(nameColumn);
                            row.appendChild(descColumn);
                            row.appendChild(priceColumn);
                            row.appendChild(purchaseBtn);
                            row.appendChild(deleteBtn);
                        }
                    } else {
                        alert("Ошибка : " + xhr.status);
                    }
                }
            }

            if(get_cookie("token") == null)
                logout();
            else
                loadProducts();

        </script>
    </body>
</html>